@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    width: 100%;
    overflow: hidden;
}

.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    width: 100%;
    overflow: hidden;
}

.cart {
    background-color: #333;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
}

.cart h2 {
    color: #fff;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #555;
    color: #fff;
}

td img {
    width: 50px;
    height: auto;
    border-radius: 10px;
}

td .delete-button {
    background-color: #ff357a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

td .delete-button:hover {
    background-color: #d32f5e;
}

.confirm-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.confirm-button {
    background-color: #0078ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #0056b3;
}
