<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../assets/css/login3.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
	<div id="successModal"></div>
	<h2>Inicia sesion y podras pedir todo loque necesitas en elevento!!</h2>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="post" id="registro">
				<h1>Create Account</h1>
				<input type="text" placeholder="Name" name="nombre" />
				<input type="email" placeholder="Email" name="correo" />
				<input type="password" placeholder="Password" name="password" />
				<button>Sign Up</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form id="forming" class="form" method="post">
				<h1>Inicia sesion</h1>
				<hr>
				<input type="email" placeholder="Email" name="correo" />
				<input type="password" placeholder="Password" name="password" />
				<!-- <a href="#">Forgot your password?</a>-->
				<button type="submit" value="Iniciar Sesion">Sign In</button>
				<script src="../js/login.js"></script>
				<script src="../js/registro.js"></script>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Animate, crea una nueva cuenta!</h1>
					<p>Conectate y recibe un servicio de calidad</p>
					<button class="ghost" id="signIn">Ya tengo una cuenta papi</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Vamos Unete!! y recibe el mejor servicio</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
<script src="../js/login3.js"></script>